/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: sunset, light, nord, emerald, dark;
}
html:not([data-theme="custom"]) {
  --color-zinc-950: var(--color-base-100);
  --color-zinc-900: var(--color-base-200);
  --color-zinc-800: var(--color-base-300);
  --color-zinc-700: var(--color-base-300);
  --color-zinc-600: var(--color-base-content);
  --color-zinc-500: var(--color-base-content);
  --color-zinc-400: var(--color-base-content);
  --color-zinc-300: var(--color-base-content);
  --color-zinc-200: var(--color-base-content);
  --color-zinc-100: var(--color-base-content);
  --color-white: var(--color-base-content);
}
html:not([data-theme="custom"]) ::placeholder {
  opacity: 0.4;
}

